@use "./themes/light-mobile";

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    body {
        height: 100vh;
        img.bkg {
            position: absolute;
            top: 0;
            z-index: -1;
        }
        main {
            padding: 5vh 5vw;
            div.header {
                display: flex;
                justify-content: space-between;
                height: 5vh;
                border: 1px solid red;
            }
        }
    }
}