@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
body.light {
  background-color: hsl(236deg, 33%, 92%);
}
body.light img.mobile-dark {
  display: none;
}
body.light main form input {
  color: hsl(235deg, 19%, 35%);
}
body.light main form input::-moz-placeholder {
  color: hsl(236deg, 9%, 61%);
}
body.light main form input:-ms-input-placeholder {
  color: hsl(236deg, 9%, 61%);
}
body.light main form input::placeholder {
  color: hsl(236deg, 9%, 61%);
}
body.light main div.task-list div.task, * body.light main div.task-list div.cont {
  background-color: white;
  color: hsl(235deg, 19%, 35%);
}
body.light main div.task-list div.task .check, * body.light main div.task-list div.cont .check {
  border: 1px solid hsl(236deg, 9%, 61%);
}
body.light main div.task-list div.cont {
  color: hsl(236deg, 9%, 61%);
}
body.light main div.states {
  background-color: white;
  color: hsl(236deg, 9%, 61%);
}

body.dark {
  background-color: hsl(235deg, 21%, 11%);
}
body.dark img.mobile-dark {
  display: block;
}
body.dark img.mobile-light {
  display: none;
}
body.dark main form input {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(234deg, 39%, 85%);
}
body.dark main form input::-moz-placeholder {
  color: hsl(234deg, 11%, 52%);
}
body.dark main form input:-ms-input-placeholder {
  color: hsl(234deg, 11%, 52%);
}
body.dark main form input::placeholder {
  color: hsl(234deg, 11%, 52%);
}
body.dark main div.task-list div.task, * body.dark main div.task-list div.cont {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(234deg, 39%, 85%);
}
body.dark main div.task-list div.task .check, * body.dark main div.task-list div.cont .check {
  border: 1px solid hsl(234deg, 11%, 52%);
}
body.dark main div.task-list div.cont {
  color: hsl(234deg, 11%, 52%);
}
body.dark main div.states {
  background-color: hsl(235deg, 24%, 19%);
  color: hsl(234deg, 11%, 52%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
* body {
  height: 100vh;
}
* body img.bkg {
  position: absolute;
  top: 0;
  z-index: -1;
}
* body img.bkg.desktop-light, * body img.bkg.desktop-dark {
  display: none;
}
* body main {
  padding: 5vh 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
}
* body main div.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}
* body main div.header h1 {
  letter-spacing: 2vw;
  color: white;
}
* body main div.header img {
  cursor: pointer;
}
* body main form input {
  width: 90vw;
  height: 8vh;
  padding: 2vh;
  border-radius: 7px;
  border: none;
}
* body main form input:focus {
  outline: none;
}
* body main div.task-list {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
* body main div.task-list div.task, * body main div.task-list div.cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 4vw;
  font-size: 0.8rem;
  width: 90vw;
  min-height: 8vh;
}
* body main div.task-list div.task div.subt, * body main div.task-list div.cont div.subt {
  display: flex;
  align-items: center;
  gap: 4vw;
}
* body main div.task-list div.task:nth-child(1), * body main div.task-list div.cont:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
* body main div.task-list div.task .check, * body main div.task-list div.cont .check {
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
* body main div.task-list div.task .check img, * body main div.task-list div.cont .check img {
  width: 2vh;
  height: 2vh;
  display: none;
}
* body main div.task-list div.task .cross, * body main div.task-list div.cont .cross {
  width: 2vh;
  height: 2vh;
  cursor: pointer;
}
* body main div.task-list div.cont {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
* body main div.task-list div.cont .complete {
  cursor: pointer;
}
* body main div.task-list div.cont-states {
  display: none;
}
* body main div.states {
  display: flex;
  justify-content: center;
  gap: 4vw;
  align-items: center;
  border-radius: 5px;
  height: 7vh;
}
* body main div.states .selected {
  color: hsl(220deg, 98%, 61%);
}
* body main div.states h4 {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */